@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito+Sans:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.contactUs{
   background-image: url("../view/images/manWithHat.jpg");
   background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(252, 211, 77,0.7);

}

.bg-slogan
{
  background-image: url("../view/images/sloganBackground.jpg");
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0,0.7);
}

.textLimitTwo {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}