@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Nunito+Sans:wght@300;400;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --yellow-500: #FCD34D;
  --black: #000; 
}

.contactUs{
   background-image: url("../view/images/manWithHat.jpg");
   background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(252, 211, 77,0.7);

}

.bg-slogan
{
  background-image: url("../view/images/sloganBackground.jpg");
  background-size: cover;
  box-shadow:inset 0 0 0 2000px rgba(0, 0, 0,0.7);
}

.textLimitTwo {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
          line-clamp: 2; 
  -webkit-box-orient: vertical;
}

.product .stars {
  direction:rtl;
}

.product .stars:hover div svg path {
  fill: var(--black);
}

.product .stars div:hover svg path {
  fill: var(--yellow-500);
}

.product .stars div:hover ~ div svg path{
  fill: var(--yellow-500);
}
@keyframes leftRight {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  50% {
    transform: translateY(0px);
    opacity: 100;
  }
  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}
.animationWords{
  animation-name: leftRight;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
}